.banner-container {
  position: relative;
}

.hero-banner {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 16px;
}

.hero-avatar {
    
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  bottom: -80px;
  left: 40px;
  /*background: linear-gradient(135deg,#02131e, #002e43); */
  background: linear-gradient(135deg,#000000,#202020);
  /*background: linear-gradient(135deg,#252525,#e1e1e1);*/
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.hero-content {
  margin-top: 100px;
}

.hero-name {
  font-weight: 700;
}

.tech-badge {
  background: #f1f3f5;
  border-radius: 20px;
  padding: 6px 14px;
  margin-right: 6px;
  margin-bottom: 8px;
  display: inline-block;
  font-size: 0.9rem;
}

.hero-buttons .btn {
  padding: 10px 18px;
  font-weight: 500;
}

@media (max-width: 768px) {

  .hero-avatar {
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-content {
    text-align: center;
  }

}

.banner-overlay {
  background: rgba(3,27,43,0.25);
}